{include file="admin/header.html"}
<style>
    td>img{
        width: 50px;
        height: auto;
        border-radius: 50%;
    }
</style>
<body>
<form method="post" action="" id="listform">
    <div class="panel admin-panel">
        <div class="panel-head"><strong class="icon-reorder"> 类型列表</strong>
        </div>
        <div class="padding border-bottom">
            <ul class="search" style="padding-left:10px;">
                <li><a class="button border-main icon-plus-square-o" href="index.php?m=admin&c=goods&a=addgoods"> +添加分类</a></li>
            </ul>
        </div>
        <table class="table table-hover text-center">
            <tr>
                <th width="50px">ID</th>
                <th width="80px">名称</th>
                <th width="80px">价格</th>
                <th width="100px">图片</th>
                <th width="150px">多图</th>
                <th width="100px">描述</th>
                <th width="80px">所属分类</th>
                <th width="130px">商品推荐</th>
                <th width="170px">操作</th>
            </tr>
            {foreach $data $v}
            <tr>
                <td>{$v['gid']}</td>
                <td>{$v['gname']}</td>
                <td>{$v['gprice']}</td>
                <td><img src="{$v['gthumb']}" alt=""></td>
                <td>
                    {foreach $v['gpicture'] $src}
                    <img src="{$src}" alt="">
                    {/foreach}
                </td>
                <td>{$v['gdescrip']}</td>
                <td>{$v['tname']}</td>
                <td>{$v['grecommend']}</td>
                <td>
                    <div class="button-group">
                        <a class="button border-main" href="index.php?m=admin&c=goods&a=goodsupdate&id={$v['gid']}"><span class="icon-edit"></span> 修改</a>
                        <a class="button border-red" href="index.php?m=admin&c=goods&a=delgoods&id={$v['gid']}" onclick="return del(1,1,1)"><span class="icon-trash-o"></span> 删除</a></div>
                </td>
            </tr>
            {/foreach}
            <tr>
                <td colspan="7">
                    <div class="pagelist">
                        {$str}
                    </div>
                </td>
            </tr>
        </table>
    </div>
</form>
</body>
</html>