<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="stylesheet" href="{CSS_PATH}/buy_car.css">
    <link rel="stylesheet" href="{CSS_PATH}/public.css">
    <link rel="icon" href="{IMG_PATH}/logo.png" type="images/x-icon">
    <script src="{JS_PATH}/rem.js"></script>
</head>
<body>
<div class="head">
    <b>购物车</b>
</div>
<div class="content">
    <div class="cont_name">
        <input type="radio" class="choose">
        <span>食不厌小店&nbsp;></span>
        <em>领券</em>
    </div>
    <div class="cont_main">
        <input type="radio" class="choose">
        <img src="{IMG_PATH}/case1.jpg" alt="">
        <div class="img_decs">
            <div class="desc_span">
                <p>是的方法和热一个方法和我IE阿UR恶化股份女方家</p>
            </div>
            <div class="desc_em">
                <p>就是这款很繁荣路if爱哦服务</p>
            </div>
            <i>￥198</i>
        </div>
    </div>
</div>


<!-- footer部分 -->
<div class="footer0"></div>

{include file="index/footer.html"}