<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <link rel="stylesheet" href="{CSS_PATH}/login.css">
    <link rel="stylesheet" href="{CSS_PATH}/public.css">
    <link rel="icon" href="{IMG_PATH}/logo.png" type="images/x-icon">
    <script src="{JS_PATH}/rem.js"></script>
</head>
<body>
<div class="head">
    <span onclick="history.back()">&lt;</a></span>
    <p>登录</p>
</div>

{include file="index/notice.html"}

<form action="index.php?m=index&c=personal&a=login" class="login" method="post" id="login">
    <span>手机</span><input type="text" class="phone" name="phone" placeholder="请输入手机号">
    <span><br></br>密码</span><input type="password" class="password" name="password" placeholder="请输入密码">
    <style>
        #error{
            color: red;
            padding:0.5rem;
            text-align: center;
        }
    </style>
    <div id="error"></div>
    <input type="submit" class="denglu" value="登录">
    <em><a href="index.php?m=index&c=personal&a=sign">快速注册</a> </em>
    <em><a href="">找回密码</a> </em>
</form>
<script>
    let phone = localStorage.phone ? localStorage.phone : "";
    if (phone !== "") {
        location.href = "index.php?m=index&c=personal&a=autologin&phone=" + phone;
    }
</script>
<script src="{JS_PATH}jquery.js"></script>
<script src="{JS_PATH}jquery.validate.min.js"></script>
<script>
    $("#login").validate({
        rules:{
            phone:{
                required:true
            },
            password:{
                required:true
            }
        },
        messages:{
            phone:{
                required:"手机号不能为空"
            },
            password:{
                required:"密码不能为空"
            }
        },
        errorPlacement:function(error,input){
            $("#error").append(error);
        }
    });

</script>
</body>
</html>